/* fixes for default browser styles */
:root {
  --fontSize: 14px;
}
* {
  /* sane defaults */
  box-sizing: border-box;
  display: inline-block;
  /* clear browser nonsense */
  min-width: 0;
  margin: 0;
  outline: none;
  border: none;
  background: none;
  overflow: hidden;
  padding: 0;
  /* sane defaults */
  color: inherit;
  line-height: unset;
  font-size: var(--font-size);
  font-family: inherit;
  font-weight: inherit;
}
head, head * {
  display: none;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  background: #0f0f0f;
  color: #f0f0f0;
  font-family: Roboto, Arial, sans-serif;
}
ul, ol {
  display: block;
  padding-inline-start: 32px;
  list-style: square;
}
li {
  display: list-item;
  overflow: unset;
}
li > * {
  vertical-align: middle;
}

/* font-size */
h1 {
  font-size: 20px;
  --line-height: 28px; /* NOTE: round_to_multiple_of_2(1.4 * font-size) */
  font-weight: 700;
}
h2 {
  font-size: 16px;
  --line-height: 22px; /* NOTE: round_to_multiple_of_2(1.4 * font-size) */
  font-weight: 500;
}
body, h3 {
  font-size: 14px;
  --line-height: 20px; /* NOTE: round_to_multiple_of_2(1.4 * font-size) */
  font-weight: 400;
}
h4, h5, h6 {
  font-size: 12px;
  --line-height: 16px; /* NOTE: round_to_multiple_of_2(1.4 * font-size) */
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6, span, a {
  line-height: var(--line-height);
}

/* svg */
svg {
  width: 32px;
  height: 32px;
  padding: 4px;
  fill: currentColor;
}

/* button */
button {
  cursor: pointer;
  background: var(--background, #f0f0f0);
  color: var(--color, #0f0f0f);
}
button:hover {
  background: var(--background, #f0f0f0cd);
}
button:active {
  background: var(--background, #f0f0f09b);
}
[data-overflow="false"] {
  scrollbar-color: transparent #00000032;
}

/* attributes */
[scroll-x] {
  overflow-x: scroll;
}
[scroll-y] {
  overflow-y: scroll;
}

[flex] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
[flex^="x"] {
  flex-direction: row;
}
[flex^="x"][flex-reverse="true"] {
  flex-direction: row-reverse;
}
[flex^="y"] {
  flex-direction: column;
}
[flex^="y"][flex-reverse="true"] {
  flex-direction: column-reverse;
}
[flex$="justify"] {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
[flex$="start"] {
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
[flex="x-scroll"] {
  justify-content: flex-start;
  align-items: stretch;
  overflow-x: auto;
}
[flex="y-scroll"] {
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: auto;
}
[flex-align="center"] {
  align-items: center;
}
[flex-align="start"] {
  align-items: flex-start;
}
[flex-align="stretch"] {
  align-items: stretch;
}
