.navmenu {
  width: 200px;
  height: 100%;
  background: #303030;
}
.navmenu-link {
  padding: 6px 4px 2px 8px;
}
.navmenu-link span {
  border-bottom: 1px solid transparent;
}
.navmenu-link[data-is-selected="true"] span {
  border-color: white;
}
.page-content {
  flex: 1;
  height: 100%;
  padding: 8px;
}
